---
interface Props {
    title: string;
    links: {
        title: string;
        url: string;
    }[];
    sections: Props[];
}

const { title, links, sections, ...props } = Astro.props;
---

<section {...props}>
    <h2>{title}</h2>
    <div>
        {
            sections.map(({ title, links, sections }) => (
                <>
                    <Astro.self class="nested" {title} {links} {sections} />
                    <hr />
                </>
            ))
        }
        {links.map((link) => <a href={link.url}>{link.title}</a>)}
    </div>
</section>

<style lang="scss">
    section {
        border: 0.125rem solid var(--text);
        padding: 1.5rem;
        border-radius: 0.5rem;
    }

    h2 {
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
        font-size: 2rem;
        font-weight: 750;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    a {
        background-color: var(--accent);
        color: var(--text);
        padding: 0.75rem;
        width: calc(100% - 1.5rem);
        text-align: center;
        border-radius: 0.5rem;
        text-decoration: none;
        transition: all 0.25s;
        font-size: 1.125rem;

        &:hover {
            box-shadow: 0 0 0.5rem 0.25rem var(--accent);
        }
    }

    hr {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nested {
        width: calc(100% - 1.5rem);

        & h2 {
            text-align: left;
            font-size: 1.5rem;
        }
    }
</style>
