---
interface Props {
    title: string;
    links: {
        title: string;
        url: string;
    }[];
    sections: Props[];
}

const { title, links, sections, ...props } = Astro.props;
---

<section {...props}>
    <h2>{title}</h2>
    <div>
        {
            sections.map(({ title, links, sections }) => (
                <Astro.self class="nested" {title} {links} {sections} />
            ))
        }
        {links.map((link) => <a href={link.url}>{link.title}</a>)}
    </div>
</section>

<style lang="scss">
    section {
        border: 0.125rem solid var(--text);
        padding: 1.5rem;
        border-radius: 0.5rem;
    }

    h2 {
        text-align: center;
        margin: 0;
        padding-bottom: 1rem;
        font-size: 2rem;
        font-weight: 750;
        transition: all 0.25s;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    a {
        background-color: var(--accent);
        color: var(--text);
        padding: 0.75rem;
        width: calc(100% - 1.5rem);
        text-align: center;
        border-radius: 0.5rem;
        text-decoration: none;
        transition: all 0.25s;
        font-size: 1.125rem;

        &:hover {
            box-shadow: 0 0 0.5rem 0.25rem var(--accent);
        }
    }

    .nested {
        width: calc(100% - 1.5rem);
        display: grid;
        transition: all 0.25s;
        cursor: pointer;

        & h2 {
            text-align: left;
            font-size: 1.5rem;
            padding-bottom: 0;
        }

        & div {
            transform: scaleY(0);
            transform-origin: top;
            opacity: 0;
            height: 0;
            transition: all 0.25s;
        }

        &[open] {
            & h2 {
                padding-bottom: 1rem;
            }

            & div {
                transform: scaleY(100%);
                opacity: 1;
            }
        }
    }
</style>

<script>
    document.querySelectorAll<HTMLDivElement>(".nested").forEach((section) => {
        section.addEventListener("click", () => {
            section.toggleAttribute("open");

            const div = section.querySelector("div")!;

            if (div.style.height) {
                div.style.removeProperty("height");
            } else {
                div.style.height = `${div.scrollHeight}px`;
            }
        });
    });
</script>
